:root {
    --column-width: 600px;
}

.app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

.title {
    max-width: calc(2 * var(--column-width) + 10 * var(--offset-base-size));
    width: 100%;
}

.container {
    display: flex;
    column-gap: calc(10 * var(--offset-base-size));
    flex-grow: 1;
    justify-content: center;
    width: 100%;
}

.column {
    max-width: var(--column-width);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 50%;
}