.items {
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    gap: calc(8 * var(--offset-base-size)) calc(6 * var(--offset-base-size)); 
}

.item {
    text-align: center;
    position: relative;
    cursor: pointer;
    background: var(--background-alt);
}

.item:hover {
    opacity: .75;
}

.item-link {
    color: var(--text-primary-color);
}

.item-link:hover {
    color: var(--text-primary-color);
}