.container {
    display: flex;
    flex-grow: 1;
    max-width: 1240px;
    justify-content: center;
    gap: calc(15 * var(--offset-base-size));
    align-items: flex-start;
}

.content {
    flex-grow: 1;
    height: 100%;
    display: flex;
}

.form-container {
    align-self: auto;
    margin-top: calc(30 * var(--offset-base-size));
}

.menu {
    width: calc(80 * var(--offset-base-size));
    padding-top: calc(30 * var(--offset-base-size));
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
}