.modal {
    position: fixed;
    width: 720px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: var(--background);
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: var(--common-border-radius-s);
    z-index: 1001;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    height: calc(16 * var(--offset-base-size));
}

.header-text {
    flex-grow: 1;
}

.close {
    cursor: pointer;
}

.close:hover svg {
    fill: var(--text-inactive-color);
}